:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2 linear;
    font-family: "Roboto", sans-serif;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background-color: var(--bg);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
}

.menu-toggle {
    display: none;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.2rem;
}

.home-container {
   min-height: 100vh;
    background-image: url(imagens/header.png);
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 90px);
    padding: 0 8%;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #fff;
    font-size: clamp(2rem, 4vw, 3.5rem);
}

.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 110;
    line-height: 1.9;
    padding: 1rem 0;
}

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 40px;
    flex-wrap: nowrap;
}

.about .content {
    flex: 0 0 55%;
}

.about .container-image {
    flex: 0 0 45%;
}

.about .container-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;

}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;

}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img {
    height: 15rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;

}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background-color: var(--main-color);
}


.contact {
    padding: 80px 8%;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-group {
    position: relative;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-size: 1.6rem;
    outline: none;
    transition: 0.3s;
}

.input-group label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    transition: 0.3s;
    background: var(--bg);
    padding: 0 5px;
}

.input-group textarea + label {
    top: 20px;
    transform: none;
}

/* efeito ao clicar */
.input-group input:focus,
.input-group textarea:focus {
    border-color: var(--main-color);
}

/* label sobe */
.input-group input:focus + label,
.input-group input:valid + label,
.input-group textarea:focus + label,
.input-group textarea:valid + label {
    top: -10px;
    font-size: 1.2rem;
    color: var(--main-color);
}

.contact .btn {
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}

.contact .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


@media (max-width: 768px) {
  .about .row {
    flex-direction: column;
    text-align: center;
  }

  .about .container-image,
  .about .content {
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
    .home-container {
        min-height: 75vh;
        background-position: center;
    }

    .home-container section {
        min-height: auto;
        padding: 120px 6% 60px;
        justify-content: center;
        text-align: center;
    }
}


@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg);
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .navbar a {
        display: block;
        margin: 15px 0;
        font-size: 1.8rem;
    }

    .navbar.active {
        display: flex;
    }
}






